/node_modules
/public/hot
/public/storage/avatars
/storage/*.key
/vendor
.env
/public/*.js
composer.lock
package-lock.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
